[2016-04-13 11:03] prashant-v opened #1 "SimplePropertyRole Search API queries"
Hi,

Do we have any documentation available so that we can check the possible string values of “PropertyTypes”,” RoleTypes” , “Tags”, “RoleType” “RoleStatus”?

In Dezrez we have featured properties but how to get featured properties from Rezi system. I am using SimplePropertyRole search API to get all properties from REZI system.

Also how to identify rental period of respective property like we h

[2016-04-13 12:01] dendle commented on #1
Hello Prashant,

In the Dezrez Core API, each estate agent can have their own, custom enums.  We pre-fill these enums with standard values, but this list can be added to.

To query which enum values are available, use the Enum Suggest endpoint, here:
https://core-api-uat.dezrez.com/Help/Api/GET-api-enum_typeName_systemName_eventCategoryType

I'm just double checking that this can return a list of

[2016-04-13 12:05] dendle commented on #1
So, to list all property types, the relative URL would be:
api/enum?typeName=PropertyType

And this returns an array of values:
[
  {
    "Id": 514,
    "Name": "Terraced House",
    "SystemName": "TerracedHouse"
  },
  {
    "Id": 515,
    "Name": "End of Terrace House",
    "SystemName": "EndofTerraceHouse"
  },
...
]

[2016-04-13 12:08] prashant-v commented on #1
ok..

can you guide for the below points?

In Dezrez we have featured properties but how to get featured properties from Rezi system. I am using SimplePropertyRole search API to get all properties from REZI system.

Also how to identify rental period of respective property like we have in DezRez system SaleProperty , PricePerMonth?

[2016-04-13 12:15] dendle commented on #1
The 'Featured' flag comes under the marketing flags enum:
/api/enum?typeName=MarketingFlag

With regards to the rental period query, each property marketing role has a price type enum:
{{url}}/api/enum?typeName=PriceType

I hope this helps.

Cheers,
Matt

[2016-04-13 12:28] dendle commented on #1
So to look for featured properties in the search:
POST to /api/simplepropertyrole/search

with the json body
{
  "MarketingFlags": ["Featured"]
}

[2016-04-13 12:32] prashant-v commented on #1
Thanks Matt. Can we get the MarketingFlags in API response? I can see Tag associated with Properties in API response but not the MarketingFlags

[2016-04-13 12:39] marc-harry commented on #1
Hi Prashant, You should be able to get the MarketingFlags from the Flags property on the response.

[2016-04-14 08:39] dendle commented on #1
Hi Prashant, I hope this thread has answered your questions in full, and I will now close this issue.

If not, please comment again and I'll open it back up.

Cheers,
Matt

[2016-04-14 08:39] #1 closed, assigned to nobody

[2016-04-15 09:59] prashant-v opened #2 "Get property description"
Hi,

I am implementing get property description API but while executing API I am getting following message:
{"Message":"Authorization has been denied for this request."}
I am using the property_read permission. I have tried with property_basic_read permission but it was saying invalid scope while getting access token.
Can you guide while scope I need to use to get property description?

Thanks,

[2016-04-15 11:18] dendle commented on #2
Hi Prashant,

Looks like you need another permission scope.

Could you tell me the URL of the endpoint you were trying to call?

I'll see what permissions it demands, and make sure you have them.

Thanks,

Matt

[2016-04-15 11:21] prashant-v commented on #2
I am using following API endpoint
https://core-api-uat.dezrez.com/api/property/{propertyid}/descriptions?pageSize=1&pageNumber=233

[2016-04-15 11:33] dendle commented on #2
Hi Prashant,

I've spotted the problem, and fixed it in the code.  I'll work on getting it to UAT as soon as I can.

Also, I'm interested as to your use of that endpoint - you should already have access to everything to do with the property from the [SimplePropertyRole controller](https://core-api-dev.dezrez.com/Help#SimplePropertyRole).

So, you're already using the [search endpoint](https://core

[2016-04-15 11:57] prashant-v commented on #2
Hi Matt,

Yes this API return everything that we need instead of giving three different API call to fetch description, documents, images etc.

Thanks

[2016-04-15 11:59] dendle commented on #2
Great - sorry you didn't know about that earlier.

Let me know about what kinds of things you'll be doing, and perhaps I could point out some more useful endpoints for you?

Cheers,
Matt

[2016-04-15 11:59] #2 closed, assigned to nobody

[2016-04-20 07:02] prashant-v opened #3 "Get a property with an associated role by their Id Error"
Hello,

I am getting an error while executing following API :https://core-api-dev.dezrez.com/Help/Api/GET-api-simplepropertyrole-roleId.
**Error Details :**
{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"f0925e77-c811-44fb-9bfd-1fe93d487940","Details":"Error occured whilst invoking action Get on controller SimplePropertyRoleController. This error has been

[2016-04-20 08:09] prashant-v commented on #3
Also this API doesnt return the  room details associated with property. Can you please guide from where I can get the room details of the property?

[2016-04-20 12:10] marc-harry commented on #3
Hi @prashant-v,

With the error you are getting that appears to be due to the fact the apikey isn't being passed as part of the request to get the property with the role id.
To answer your second question, the room details associated with the property will be within the description collection that comes back in the response. You will be able to get the room counts, room details and any other descr

[2016-04-20 12:28] prashant-v commented on #3
Hi Marc,

Apikey is not any input parameter for this API, it only accepts RoleID parameter. In order to execute API I am passing the Authorization header with bearer scheme. Can you guide where to pass API key?

Thanks

[2016-04-20 12:41] marc-harry commented on #3
Hi @prashant-v,

Sorry, yes you don't need to pass in an Api key. Would you be able to send the full url for the roleId and agencyId that you are requesting so that we can investigate this further to see what is happening with that api call in more detail?

Cheers,
Marc

[2016-04-21 04:48] prashant-v commented on #3
Hi Marc,

Sent an email to Matt for additional information about role id and agencyid.

Thanks

[2016-04-21 12:23] prashant-v opened #4 "Refresh Token API error"
Hello,

We are trying to get the refresh token from the existing access token, but we are getting an error message as {"message":"{ \"error\": \"unauthorized_client\" }"}
In the documentation it is mentioned that client needs to registered for offline access, where we can change the offline access permission?
Are we missing any other permission?

Thanks,

[2016-04-22 08:29] dendle commented on #4
Hello Prashant,

Refresh token do not apply to oauth2 clients that use the client auth flow.

If you need a new token, you just go through the auth process again, as there is no need to ask any human to enter their login details again.

I hope this makes sense.

Regards,
Matt

[2016-04-22 08:29] dendle commented on #3
Hi prashant,

I'm having trouble getting to the bottom of this one!

Could you be so kind as to email me a token that you can reproduce this issue with?

Cheers,
Matt

[2016-04-22 11:37] prashant-v commented on #4
Hello,

Actually life of Access Token is very small, is there any way that we can increase life of Access token or is there any simple API is available to check whether perticular token is expire or not?
Because It doesn't seem good to call Oauth API to get API token every time before we call any of the property related API

Thanks

[2016-04-22 12:54] prashant-v commented on #3
Hello,

Now I am able to execute proeprty role API. In the response I can see the different type of description.
But in the API documentation you have mentioned the description is of type SimpleWebGatewayDescriptionDataContractBase (i.e. https://core-api-dev.dezrez.com/Help/ResourceModel?modelName=SimpleWebGatewayDescriptionDataContractBase) but I am getting different objects in collection of desc

[2016-04-22 14:57] dendle commented on #4
Hello Prashant,

The lifetime of all tokens is 2 hours, this gives us scope to revoke compromised tokens over a shorter period of time.

You can check when the token expires by looking at the reponse when you got the token, it should tell you exactly when you need to get a new token.

I hope this helps.

Regards,
Matt

[2016-04-22 15:00] dendle commented on #3
Hello Prashant,
The descriptions have varying data types; there is a DescriptionType field that describes what data it has.  Some are wordy descriptions, some are room counts.  Its not possible to 'flatten' these data types down as they are very different.

The API documentation describes the base class that holds data that all descriptions have.  You must use the description type to work out what

[2016-04-25 09:46] #3 closed, assigned to nobody

[2016-04-25 09:46] #4 closed, assigned to nobody

[2016-05-09 12:49] prashant-v opened #5 "Add person/people in Rezi system"
Hello,

We want to add person/people in Rezi system. so which API we should user?

Thanks

[2016-05-09 13:16] dendle commented on #5
Hello Prashant,

You'll need to add a group, with members.

A person in dezrez is always a member of a group.

Here is the relevant endpoint:
http://api.dezrez.com/Help/Api/POST-api-group-addgroup

Cheers,
Matt

[2016-05-10 04:41] prashant-v commented on #5
Hello,

By passing members information i can add person to rezi system, but how I would get the personid of inserted member in group?

[2016-05-12 08:41] dendle commented on #5
Hello Prashant,

Sorry for the delay in my reply, I've been out of the office.

As a response to creating a group, you get back the group ID.

You can then use this to get the group at the get group endpoint, and see the personId inside that group.

I hope this helps!

Regards,
Matt

[2016-05-18 16:34] #5 closed, assigned to nobody

[2016-05-30 06:57] prashant-v opened #6 "Add Group API"
Hello,

I am executing Add group API : https://core-api-uat.dezrez.com/Help/Api/POST-api-group-addgroup
but I am facing an error as {"Message":"Authorization has been denied for this request."}

Can you guide which permission I need to use for add group and add group member?

Thanks,

[2016-05-31 11:12] dendle commented on #6
Hello Prashant,

Sorry fro the delay, I have been on annual leave.

Let me review the required scopes, and make sure you have access to request the appropriate scope.

Cheers,
Matt

[2016-05-31 12:30] prashant-v opened #7 "Add member to group API"
Hello,

I have checked the details of adding member to group : https://core-api-uat.dezrez.com/Help/Api/PUT-api-group-id-addgroupmember
This accepts AddGroupPersonCommandDataContract i.e. https://core-api-uat.dezrez.com/Help/ResourceModel?modelName=AddGroupPersonCommandDataContract

I want to pass the PrimaryTelephone along with this request. How I could store the PrimaryTelephone in Rezi system

[2016-06-01 07:02] marc-harry commented on #7
Hi @prashant-v,

On the AddGroupPersonCommandDataContract there is a list property called ContactItems if you add a [https://core-api-uat.dezrez.com/Help/ResourceModel?modelName=ContactItemSaveCommandDataContract](https://core-api-uat.dezrez.com/Help/ResourceModel?modelName=ContactItemSaveCommandDataContract) to that list with Type with SystemName = "Telephone" and Value set to that of the phone n

[2016-06-01 08:28] dendle commented on #6
Hello Prashant,

I have fixed this issue, but I'm afraid it will need a code deployment to fix.

I've started the process and will let you know when its done.

Cheers,
Matt

[2016-06-01 09:34] dendle commented on #6
The code deployment is on its way to UAT, and should be there in roughly 30 minutes.

Just to confirm, you shouldnt need any code changes, as you already have person_write scope - this is all that is needed.

Cheers,
Matt

[2016-06-01 09:34] #6 closed, assigned to nobody

[2016-06-01 09:34] #7 closed, assigned to nobody

[2016-06-06 10:29] prashant-v opened #8 "Add Group API"
Hello,

I am getting an error while adding group to system
{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"d80df059-a7e8-4a6e-83ba-641bbbc62250","Details":"Error occured whilst invoking action AddGroup on controller GroupController. This error has been logged.","ValidationErrors":null}
Can you please check the same?

Thanks,

[2016-06-06 10:32] prashant-v opened #9 "Adding identity to person"
Hello

I am using the following API https://core-api-dev.dezrez.com/Help/Api/POST-api-identity-Add_personId
to add identify to rezi user but getting an error as
  {"Message":"An error has occurred. If this persists please contact us","ErrorReference":"b13f244a-8d5b-4662-a2e1-13cfd8840989","Details":"Error occured whilst invoking action AddIdentityToPerson on controller IdentityController. This err

[2016-06-06 13:20] dendle commented on #9
Yes, I suspect this is another permission issue - I will update you ASAP.

Regards,
Matt

[2016-06-06 13:20] dendle commented on #8
We are currently investigating this error - I'll update you ASAP.

Regards,
Matt

[2016-06-07 05:24] prashant-v opened #10 "Buyer - Request for viewing property"
Hello,

We want to implement request for viewing and read viewing details of properties functionality.
Can you guide which API we would need to use for the following:
a. Add a request for viewing property
b. Check and get viewing details of requested viewing.

Thanks,

[2016-06-07 08:20] prashant-v opened #11 "Adding a buyer role to Group or member"
Hello,

Which api we should use to add new buyer role to group or member?

Thanks

[2016-06-08 08:57] dendle commented on #8
Hello Prashant,

Could you confirm this is still happening?

If it is, could you please give me the details of the request you made to the API, including the full URL and the JSON.

I cannot seem to replicate the issue.

Cheers,
Matt

[2016-06-08 09:36] prashant-v commented on #8
Hello,

yes I am still facing a same issue. sent you an email about the same

Thanks,

[2016-06-08 10:46] dendle commented on #9
Hello Prashant,

I've just fixed thi s issue in code, and will let you know when its available in the UAT API.

Thank you for your patience.

Regards,
Matt

[2016-06-08 10:46] #9 closed, assigned to nobody

[2016-06-08 11:00] dendle commented on #10
Hi Prashant,

We've written a whitepaper about the endpoints regarding finding a property, and requesting a viewing on it using free/busy functionality.

Look at the [White Papers](https://github.com/dezrez/DezrezCoreAPI/blob/master/WhitePapers.md) section, and look at the bot document.  It details the endpoints that were involved in this process.

As for getting the viewing details, you can get a

[2016-06-08 11:10] dendle commented on #11
Hi prashant,
1. Do you mean a prospective buyer? a.k.a Applicant?
2. Or do you mean buyer, as in a person is buying a role?

If 1, you register a searchingRole for them, with some criteria [Here](https://core-api-dev.dezrez.com/Help/Api/POST-api-group-id-savesalessearch)

If 2, a buyer becomes a buyer by getting an offer they made accepted-  They must first [make an offer](https://core-api-dev.dez

[2016-06-08 11:10] dendle commented on #8
I'm investigating this now, and will get back to you ASAP.

Regards,
Matt

[2016-06-09 08:43] dzy969 commented on #11
Hi Matt,
After we have created a new group do we have to add a searchingRole for them before we can add a viewing appointment?
If yes, whats the minimum we can add and if not how else can we get/create the roleId

Thanks
Dean

[2016-06-09 08:49] dendle commented on #11
Hi Dean,

Sorry or closing this issue too early.

A searching role is not required in order to [make a viewing appointment](https://core-api-uat.dezrez.com/Help/Api/POST-api-viewing-bookviewing).

The property ID and property marketing role ID of the property to view need to be specified, and if you already have a group, you just need to set the ID property of the group JSON:

group: {id:1}

I hop

[2016-06-09 08:58] dzy969 commented on #11
Great - We have the propertyID and groupID.
Is the property marketing role ID part of the property object (if so we will already have that) and where do we specify that in bookViewing request, I cant see that in the request documentation.

[2016-06-09 09:06] dendle commented on #11
Its just referred to as RoleID in the link above.

Yeah, you should only care about property marketing roles, as these represent the actual sale/let of the property - the property record itself just holds the address and current owner.  So, a property can have multiple roles, and its usually one of these roles (the active sales role) that you are interested in - so just grab that roles ID.

We do

[2016-06-09 09:45] prashant-v commented on #11
Hello,

We are trying to execute the https://core-api-uat.dezrez.com/Help/Api/POST-api-viewing-bookviewing api but we are facing "Authorization has been denied for this request" error.
Can you please guide for the same?

Thanks,

[2016-06-13 04:46] prashant-v commented on #10
Hello,

We can get the details of viewing by viewing id or by property role id. Can you guide how we can get all viewing details by people id or group id?

Thanks

[2016-06-13 08:49] dendle commented on #10
Hello Prashant,

Its all stored under the roles, so for the person ID, [get that person](https://core-api-uat.dezrez.com/Help/Api/GET-api-people-id) and enumerate thier groups.  Then, from the group [you get the roles](https://core-api-uat.dezrez.com/Help/Api/GET-api-group-id-roles_pageSize_pageNumber_roleTypes[0]_roleTypes[1]_roleStatuses[0]_roleStatuses[1]), and lastly there is a [role events en

[2016-06-13 08:55] dendle commented on #11
The code changes for this fix are now on UAT - could you please confirm that this is working now?

Cheers,
Matt

[2016-06-13 09:03] dendle commented on #8
Hello Prashant,

When creating a new group, that group **must** have group members - you are attempting to add a group with no members, which I believe is causing the error.

These group members can be specified in the data contract.

I hope this helps,
Cheers,
Matt

[2016-06-13 12:08] prashant-v opened #12 "Get All events by group"
Hello,

We are trying to execute the get all events by group i.e.
https://core-api-dev.dezrez.com/Help/Api/GET-api-group-id-events_pageSize_pageNumber_branchId_from_to_type[0]_type[1]_eventCategoryType_activeRolesOnly_propertyId_excludedTypes[0]_excludedTypes[1]_roleId_includeDrafts
but facing at authorization issue.
{"Message":"Authorization has been denied for this request."}
Can you please chec

[2016-06-13 12:11] dendle commented on #12
Hi Prashant,

Can you double check that you're requesting the event_read and people_read access scopes?

These two permissions should be all that is needed - please let me know if you are requesting these and still encountering problems...

Cheers,
Matt

[2016-06-14 06:03] prashant-v commented on #12
Hello,

With "event_read " permission I am able to get the details.

Thanks

[2016-06-14 06:10] prashant-v commented on #11
Hello,

We are still getting an error : {"Message":"Authorization has been denied for this request."}
Sent you the details about request, please check

Thanks,

[2016-06-14 06:25] prashant-v commented on #10
yes we can get the details with above steps.
Alternatively we observed one API i.e.  get all events by group i.e.https://core-api-dev.dezrez.com/Help/Api/GET-api-group-id-events_pageSize_pageNumber_branchId_from_to_type%5B0%5D_type%5B1%5D_eventCategoryType_activeRolesOnly_propertyId_excludedTypes%5B0%5D_excludedTypes%5B1%5D_roleId_includeDrafts
We are getting booking events associated with group i

[2016-06-14 09:17] prashant-v commented on #8
Hello,

Even passing the member details we are getting a same error
{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"7c2445d6-0e11-42f9-8fb2-4fef812c8846","Details":"Error occured whilst invoking action AddGroup on controller GroupController. This error has been logged.","ValidationErrors":null}

sent you details of request

[2016-06-14 11:44] dendle commented on #8
Hello Prashant,

I'm looking at this issue now, and will get back to you ASAP.

Cheers,
Matt

[2016-06-14 11:44] dendle commented on #12
Super, closing this off...

[2016-06-14 11:44] #12 closed, assigned to nobody

[2016-06-14 11:53] dendle commented on #11
Hello Prashant,

You need the **event_write** scope for this - the token in the email you sent had these scopes only:

   "impersonate_web_user",
    "property_read",
    "people_read",
    "property_write",
    "people_write",
    "event_read"

[2016-06-14 11:59] dendle commented on #11
A good tool to use to find out what scopes are in a token, can be found here:

[JWT.IO](https://jwt.io/)

Hope this helps...

[2016-06-15 08:44] prashant-v commented on #11
Hi Matt,

We are executing the book viewing request but we are facing validation error from API.
{"Message":"Viewing Domain Service - Validation has failed for: BookViewing","ErrorReference":"ADS-Val","Details":"See the ValidationErrors list of (1) issues for more details.","ValidationErrors":["Customer info has not been supplied"]}

It is saying “Customer info has not been supplied”, but we just

[2016-06-15 09:16] marc-harry commented on #11
Hi @prashant-v,

As well as the group Id you also just need to specify the attendee type of group is going on the viewing, in your case here its most likely going to be "Viewer", like so:
`"AttendingGroups": [{
    "Type": {
        "SystemName": "Viewer"
    },
    "Group": {
        "Id": 1
    }
}]`

The Type property can be changed to "Owner" if needed to specify that the group attending the v

[2016-06-16 05:01] prashant-v commented on #11
Hello

We tried with passing Type as viewer but this time we are getting 500 internal error
{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"a5db8c41-ec40-4d13-a6fd-e2a22b29c81a","Details":"Error occured whilst invoking action BookViewing on controller ViewingController. This error has been logged.","ValidationErrors":null}

Can you please guide for the same

[2016-06-16 10:03] marc-harry commented on #11
Hi,

The error being thrown is due to the api needing to know which branch the viewing is to be associated with. When you make the call to the api can you pass a query parameter called "branchid" and assign it the branch id of the property role that you are requesting the viewing for. That will resolve the error.

Cheers,
Marc

[2016-06-17 11:40] #11 closed, assigned to nobody

[2016-06-17 11:47] marc-harry commented on #8
Hi @prashant-v,

When saving group the members passed either needs to contain just the Id of an existing person that exists in Rezi on another group or the member details you send us as well as the name require the gender property to be set. If this is unknown you can send "NotSpecified".

Cheers,
Marc

[2016-06-17 12:03] prashant-v commented on #11
Hello,

Even passing the branchid as querystring parameter we are getting the same error
{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"90f0bddc-02c7-47a0-a8e9-8faba85263a6","Details":"Error occured whilst invoking action BookViewing on controller ViewingController. This error has been logged.","ValidationErrors
Also in the API documentation i havent seen

[2016-06-17 12:12] prashant-v commented on #8
Hello,

We tried with passing gender as "NotSpecified" but still getting the same error
{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"e0cce764-da6a-48d3-aa69-3d0bf0855e4e","Details":"Error occured whilst invoking action AddGroup on controller GroupController. This error has been logged.","ValidationErrors":null}

Thanks

[2016-06-23 14:18] dendle commented on #8
Hi Prashant,

Something still doesn't look right with the data you're sending up;

Can you double check the format of the data contract? or send it through to me again, with the error code?

Also, it might be worth using the software (I gave Dean a login) and looking at the network requests that it makes, and copy that - as this works, and is calling the same API.

Cheers,
Matt

[2016-06-23 14:20] dendle commented on #8
Sorry, I accidentally closed this!

[2016-07-12 09:55] #8 closed, assigned to nobody

[2016-07-12 09:55] #10 closed, assigned to nobody

[2016-07-13 05:20] ewanmceachran opened #13 "Problem with requesting all customer details"
I'm trying to get the details for all customers, on the UAT system, which I'm assuming I need to do via:

/api/globalsearch/people

When I authenticate requesting the scope 'people_basic_read', calls to the above method fail with '401:Unauthorised'. So I'm guessing that I instead need the scope 'people_read'. But when I try to authenticate requesting the 'people_read' scope, I get a '400:Bad Reque

[2016-07-13 10:04] dendle commented on #13
Hello Ewan,

Yes, I'm afraid I forgot to mention which scopes were currently enabled and which were not.

Let me have a look at the scopes, and make suggestions on the best way to get all contact details.

I'll get back to you ASAP.

Cheers,
Matt

[2016-07-14 12:03] ewanmceachran commented on #13
Thanks Matt - any ETA on the ASAP?

[2016-07-14 12:11] dendle commented on #13
Hello Ewan - Sorry about the delay, had some issues to deal with after I wrote that post, and forgot to come back to it!

I've granted you the extra scope:

people_read

Try and get using this scope - it should work.

I'm looking at making things easier for you by using a LastUpdated date - this would allow you to access the search facilities and only get items that are new.

I think this wouldnt

[2016-07-14 15:20] ewanmceachran commented on #13
Thanks - I am now able to run a search via globalsearch/people. However, I don't think that it's going to be fit for my purpose - I was hoping that by passing in an empty search term it might return all people, but in fact it seems that the search term is mandatory (despite the documentation not marking it as such).  In extremis I could do something horrible like running searches for 'a' through '

[2016-07-15 13:35] marc-harry commented on #13
Hi @ewanmceachran,

To give you an update on this, we have pushed an update to the UAT environment which has last updated available on the returned results and also the endpoints on api/globalsearch have a lastUpdated parameter so you can get all results where the last updated is greater than the date passed in.

With the issue you mentioned of the search term being mandatory, it is mandatory howe

[2016-07-18 13:31] ewanmceachran commented on #13
Thanks for this - this will be very helpful.

My next question: should I be able to make calls to /api/people/{id} ? I'm trying to make calls to this using an IDs I've got from the search, and am getting 500 errors. (I am appending the agencyId value on the query string).

Thanks. Ewan

[2016-07-18 14:52] ewanmceachran commented on #13
I also don't seem to be able to get property data. Is that because I don't have property_read? Could I just have full permissions within the scope of the agency, because I'm getting really confused about what the different error messages I'm getting mean.

For example, I don't seem to be able to get Agency information. You have an API call that's specified thus:

GET /api/Agency

with the descript

[2016-07-18 16:21] dendle commented on #13
Hello Ewan,

With regards to the first part of your question, yes, that call should work for you - We'll have a look and find out why you got that error.

As for the second part, the confusion is probably down to the way we are integrating - we are granting you access to make calls on (eventually) several different agencies.  We need to know in which agency context you are calling the API in order

[2016-07-18 16:23] dendle commented on #13
Also, if you have any errors, I can look them up for you if you give me the error reference GUID that you get - I can find the issues much quicker this way.

Thanks again,
Matt

[2016-07-19 10:20] ewanmceachran commented on #13
Hi Matt,

Thanks a lot for your help so far. On the various things:
1. Permissions

I'm using the list of scopes specified in "DEZREZ CORE API OVERVIEW", and testing gives me the following results:

property_read - No
property_write - No
people_read - Yes
people_basic_read - Yes
people_write - No
event_read - No
event_write - No
property_basic_read - Yes
impersonate_user - No
document_read - No
do

[2016-07-20 13:53] mikemike opened #14 "Is it possible to retrieve Appointments and Offers linked to a property?"
I'm trying to grab a list of entities attached to a property (as I only have a property ID), in this case it's Appointments and Offers.

I'm struggling to find the right API method for this on [Swagger](https://api.dezrez.com/swagger/ui/index), as everything there seems to require the specific entity ID in order to retrieve it (eg Appointment ID to get the appointment).

What I was hoping to find

[2016-07-21 07:20] marc-harry commented on #14
Hi @mikemike,

This is achievable, Instead of having specific endpoints for appointments, offers or any other event type we have a general events endpoint that takes an event type or event category to get a list of events that are related to a property. You could do the following for all events:
GET /api/property/{id}/events
Or for all offers:
GET /api/property/{id}/events?type=Offer

You can find

[2016-07-21 07:28] mikemike commented on #14
Hi @marc-harry

Just what I was after.  Nice one, thanks.

Mike

[2016-07-21 07:28] #14 closed, assigned to nobody

[2016-07-27 10:33] ewanmceachran commented on #13
Hi - I now have more permissions, but I'm still getting the errors of the kind shown above. Any ideas?

[2016-08-04 14:51] marc-harry commented on #13
Hi @ewanmceachran,

Apologies for the delay in getting back to you, I have had a look further look into the issue you were having and the issues should now be resolved however there is just one additional scope you need to pass and that is the "impersonate_web_user", this scope has now been provisioned for you. I gave this a go in the test client you sent use and it was all working as expected. So

[2016-08-05 15:30] ewanmceachran commented on #13
Thanks for this, it has certainly opened up some parts of the API that I wasn't able to see. I've had a play with it today, and have some further points / questions. Let me just address properties for now.

I am still getting authentication errors on the following calls, which seems odd given that I have both property_basic_read and property_read

https://core-api-uat.dezrez.com/api/globalsearch/p

[2016-08-09 15:29] ewanmceachran commented on #13
Hello again,

I'm now looking at the RoleType and RoleStatus values on the Groups that individuals belong to. Is there any documentation on the possible values of these and their semantics? I'm trying to use these to distinguish between people looking to buy, people looking for lets, sellers, landlords, tenants, etc. But without documentation there's a lot of guesswork involved. (Plus, of course,

[2016-08-09 15:36] rjmacarthy commented on #13
@ewanmceachran in regards to your last comment, these are system Enums which you can query via the API.  For example:

GET: api/enum?typeName=RoleType

GET: api/enum?typeName=RoleStatus

These calls will bring you back all the possible values which can be assigned to the group role status and group role type.  If you see anything with a systemName, Name, and Id it's likely to be an enum type that

[2016-08-10 07:33] ewanmceachran commented on #13
Thanks for the feedback. I guess that what would be really useful (especially given the abstract Role system that you guys employ) would be documentation which said, for each possible triple:

ObjectType - RoleType - RoleStatus - What this actually means

I note that in the enums there are RoleStatuses of 'Let', 'Pre Tenancy', 'Post Tenancy' etc., which I've not actually seen anywhere. Do these be

[2016-08-10 08:52] marc-harry commented on #13
Hi @ewanmceachran,

I have pushed an update to the UAT environment which resolves the errors you were seeing before. It was again down to permissions but that's sorted now.

In answer to your other questions the endpoint api/simplepropertyrole/search? is suppose to return a light datacontract and is designed for things such as web feeds. It should be returning properties that are on the market bot

[2016-08-10 10:54] ewanmceachran commented on #13
Thanks for the update. very useful..

The thing that's currently perplexing me is tenants. Does the system contain data about tenants? If so, what data indicates that a person is a tenant? Could you point me to an example of someone who is a tenant?

Cheers, Ewan

[2016-08-11 07:10] marc-harry commented on #13
Hi @ewanmceachran,

Currently we hold information about tenants but we currently don't have any way to request to get all people who are tenants of all the marketing properties. But you can query to get all people who are looking to become/are tenants but you won't be able to tell for this if they are currently a tenant. The endpoint for this is:
[https://core-api-uat.dezrez.com/api/list/groupinte

[2016-08-11 07:28] ewanmceachran commented on #13
Hi Marc,

The spec that I'm working towards - which gives the 'ideal' set of data for an integration - contains a boolean property of a client 'IsTenant', and also an object property 'Tenancies'. But if you're saying that we cannot in principle extract data to support those properties then I'll skip them.

Thanks, Ewan

[2016-08-11 07:55] dendle commented on #13
Hi Ewan, just to give some context, the reason for the lack of tenancy info is simply due to that module not being wholly complete yet inside Rezi.

Once complete, the tenant info will be available to you.

What you can take from this is that the people using Rezi at this moment will not be overly concerned with recording or using tenant info. If they were, they wouldn’t be using Rezi today.

Rega

[2016-08-11 07:59] marc-harry commented on #13
Hi @ewanmceachran,

If this is on an page that shows an individual client then this is possible. If you request the group for the client: [https://core-api-uat.dezrez.com/api/group/{id}](https://core-api-uat.dezrez.com/api/group/{id})

In the response data contract there is a list property called roles. In that list there should be a role which has RoleType = Tenant and RoleStatus = Active, would

[2016-08-11 08:15] ewanmceachran commented on #13
Yes, I saw that on the possible values of RoleType there is Tenant. But as part of my testing I enumerated all the pairs of RoleType / RoleStatus on the groups that I could find, and Tenant didn't appear (either because of the module not being wholly complete or because I managed to grab only a subset of the group IDs available to me). In any case, I'm happy to leave it pro tem.

Incidentally, sin

[2016-08-11 08:15] ewanmceachran commented on #13
Authorisation error, rather

[2016-08-11 12:35] marc-harry commented on #13
Hi @ewanmceachran,

The authorisation error you were getting for the role endpoint shouldn't occur any more following a fix just pushed to the UAT environment. I've tested it our side and that call you linked worked.

Cheers,
Marc

[2016-08-15 07:41] ewanmceachran commented on #13
Hi,

Should I be expecting the UAT environment to have orphaned records? For example, I do a search for viewing events passing in the filter:

{
    "EventTypes":
    [{
        "SystemName": "Viewing"
    }],
    "GroupId": 2381402
}

This returns me a single record in which a Mr Eldridge views a property in Rugeley Road. The Id of Mr Eldridge's 'viewing group' is 2381402. However, when I try to

[2016-08-15 07:50] ewanmceachran commented on #13
Hi again,

I'm confused about the data coming back from a call such as:

[2016-08-15 07:58] ewanmceachran commented on #13
Sorry, bit of a premature posting there...

I'm confused about the data coming back from a call such as

/api/role/4688240/offers?agencyID=125

The first item in the collection is of response type 'Accepted'. It contains two objects: ApplicantGroup and VendorGroup, which you'd think would correspond, respectively, to the folks making the offer and the folks selling the property. However, each obje

[2016-08-15 08:48] rjmacarthy opened #15 "Cannot retrieve full details of a group returned by a filter search."
Hi,

Should I be expecting the UAT environment to have orphaned records? For example, I do a search for viewing events passing in the filter:

{
"EventTypes":
[{
"SystemName": "Viewing"
}],
"GroupId": 2381402
}

This returns me a single record in which a Mr Eldridge views a property in Rugeley Road. The Id of Mr Eldridge's 'viewing group' is 2381402. However, when I try to request details of this

[2016-08-15 08:50] rjmacarthy opened #16 "Duplicate group applicant/vendor appearing when requesting offer details."
Sorry, bit of a premature posting there...

I'm confused about the data coming back from a call such as

/api/role/4688240/offers?agencyID=125

The first item in the collection is of response type 'Accepted'. It contains two objects: ApplicantGroup and VendorGroup, which you'd think would correspond, respectively, to the folks making the offer and the folks selling the property. However, each obje

[2016-08-15 08:53] rjmacarthy commented on #13
Hi @ewanmceachran I have closed this issue, and moved the new issues into separate ones.  It will be easier to track your questions this way. We will be looking into your questions today.

Thanks.

Richard.

Cannot retrieve full details of a group returned by a filter search. #15

Duplicate group applicant/vendor appearing when requesting offer details. #16

[2016-08-15 08:54] #13 closed, assigned to nobody

[2016-08-15 10:51] rjmacarthy commented on #15
Hi Ewan, after looking into this issue I noticed that the group with ID `2381402` had a status of Deleted in the database.  This leads me to believe that there was an issue with a data migration from dezrez into rezi.  The group with an active event should not be deleted.

I have re-activated this group for you, so the second API request should now work.

If you find this is happening again please

[2016-08-15 12:21] rjmacarthy commented on #16
Hi Ewan,  this appears to be some kind of data issue.

The vendor and applicant shouldn't really be the same in this case. Whilst it is actually possible to do this in the software its more likely to be a data migration issue from dezrez to rezi, bad data on dezrez side causes issues like this in rezi but we can't spot them as we trust the data import is correct when gets imported.

`/api/role/468

[2016-08-16 14:04] ewanmceachran commented on #15
There are, I think, many of these cases.

I have pulled out data about 'Sales', and have 3063 group IDs which are not matched in the list of Groups I've independently extracted. It seems likely that all of these groups are in the same state (I checked a few of them at random, and they were all like this).

[2016-08-17 10:54] rjmacarthy commented on #15
Hi @ewanmceachran can you give us some examples of where this is happening please?

Perhaps the endpoints you are calling, and what data you are getting back.

Thanks richard.

[2016-08-17 11:21] ewanmceachran commented on #15
OK, one example.

I call:

https: //core-api-uat.dezrez.com/api/group/2381411?agencyID=125

which returns:

[code]

Yet if I call

https: //core-api-uat.dezrez.com/api/list/events?pageSize=1&pageNumber=0&agencyID=125
with filter `{ "GroupId":2381411}`;

I get an event involving that group:

[code]

[2016-08-17 12:14] rjmacarthy commented on #15
Thanks @ewanmceachran yea this is a good example.

This is again due to the nature of a data migration.

The group on that event has been deleted in Dezrez so is migrated over to Rezi deleted.  The data is actually correct, although you'd assume not by what the API returns.

We will have a discussion on the best way to handle this data issue and get back to you as soon as we can.

Thanks.

[2016-08-17 13:16] ewanmceachran opened #17 "Inconsistent results from api/list/property"
I'm trying to get all of the properties on the system by using the /api/list/property call.

Since the call supports paging, and I want to limit the payload size, I'm approaching this by requesting pages of data of 100 records each, starting at page 1 and progressing until the set of data returned is empty.

Each time I run my import code - which I've pasted below in case you think it might be hin

[2016-08-17 13:25] dendle commented on #17
Hi Ewan,

That endpoint provides sorting abilities - but there appears to be an issue if you dont specify one - By default, the list you are using orders by price.

We should back this default up by having a secondary order by ID, so this doesnt happen.

I'll submit a bug internally, but if you could use the sort option on the endpoint to sort by ID, this problem (hopefully) goes away until then.

[2016-08-17 13:38] ewanmceachran commented on #17
Thanks - could you tell me how to do this? I noticed that there were Sort and Order properties on the filter, but these take integers and I don't know what to put in (it's possible that the api/enum call would help me, but I also don't know what to pass to that to get out the values...)

[2016-08-17 15:06] rjmacarthy commented on #17
Hi @ewanmceachran have a look here:

http://core-api-uat.dezrez.com/Help/ResourceModel?modelName=PropertyListSort

These aren't system Enums as such so cannot be looked up, however you can add reference them in the API documentation.

If you want to use the sort simply send a property on the POST of type `Sort : 1` for example.

Richard.

[2016-08-17 15:08] rjmacarthy commented on #17
You can also order them:

Full list API:
http://core-api-uat.dezrez.com/Help/Api/POST-api-list-property_pageSize_pageNumber

Sort on the list.
http://core-api-uat.dezrez.com/Help/ResourceModel?modelName=ListOrder

Richard.

[2016-08-17 15:33] rjmacarthy commented on #17
Closing issue as questions have been answered.

[2016-08-17 15:33] #17 closed, assigned to nobody

[2016-08-17 15:35] rjmacarthy commented on #16
Closing this issue, inconsistent data not really causing any issues in one specific instance.

[2016-08-17 15:35] #16 closed, assigned to dendle, marc-harry, rjmacarthy

[2016-08-22 14:01] ewanmceachran opened #18 "a group has people but the people don't have the group"
Hi chaps,

The following call to get group 2418203 identifies two group members.

https://core-api-uat.dezrez.com/api/group/2418203?agencyID=125

One of these members is ID 2757065. But the call to

https://core-api-uat.dezrez.com/api/people/2757065?agencyID=125

states that the person has zero groups.

But other calls to /api/people/{id} **do** specify groups.

Colour me confused. Am I doing some

[2016-08-23 09:19] ewanmceachran opened #19 "Sorting error on searches across pages."
Previously I raised an issue to do with the paging on the api/list/property call. It looks like there are similar issues on other calls, for instance api/list/events, /api/globalsearch/groups. Generally, if there are N unique records, and I make N/p calls for p-sized pages of data, I generally end up with fewer than N unique records in total. Presumably the fault will be the same in each case - fa

[2016-08-24 15:22] rjmacarthy commented on #15
Hi @ewanmceachran.

Just to let you know a solution to this problem has been implemented ready for the next release.

We have now surfaced the SystemStatus of each group inside the event json which is returned.  This will allow you to determine if the group is still active or not for that event.  You can then do whatever you need to with the group whether they be deleted or not, but at least you w

[2016-08-25 09:27] rjmacarthy commented on #18
HI @ewanmceachran the reason this is happening is because the group has a `SystemStatus` of `Inactive`.  Which endpoint did you find the `GroupId` on please?  We may need to look to surface the `SystemStatus` similar to issue #15 with this endpoint too.

Again this sounds like a data inconsistency issue, which means the group has been migrated with an inconsistent system status.

Thanks.

Richard.

[2016-08-25 09:44] rjmacarthy commented on #19
Hi @ewanmceachran, thanks for bringing this to our attention.

After investigating this issue it appears to be a simple sorting issue.

If you have this issue calling the endpoint yourself, simply add a sort to the results and it should clear up.

Closing off this issue.

Thanks.

Richard.

[2016-08-25 09:44] #19 closed, assigned to rjmacarthy

[2016-08-26 13:32] ewanmceachran commented on #15
OK, thanks. Will this apply to persons as well, or just groups?

[2016-08-26 13:55] rjmacarthy commented on #15
@ewanmceachran just groups at present.

[2016-08-30 14:22] ewanmceachran opened #20 ""On Market""
Hi,

There are instances where a property has a selling role status of 'InstructionToSell' but there is no 'OnMarket' flag on the role. Perhaps there is a process that confirms a property as on market once it has been set to InstructionToSell?. But is there an event that can be picked up, that has made the OnMarket flag appear?

Thanks, Ewan

[2016-08-30 15:02] rjmacarthy commented on #20
Hi @ewanmceachran a role can indeed have a status of `InstructionToSell` but may not have a flag set as `OnMarket`.  This data is still legitimate, a user can choose to "pause" a marketing role whilst preserving its  role status of `InstructionToSell`.

On the SPA the event on the `/api/role/{id}/Events` end point we look for is the compliance check:

[code]

As in order to add the `OnMarket` flag

[2016-08-31 07:06] ewanmceachran commented on #20
Thanks for that - a very full response. However, after yesterday (when I think you changed things on the server) I'm not getting any data back for the /api/role/{id}/Events call. For example:, to take a property that's currently showing as 'on market'

https://core-api-uat.dezrez.com/api/role/4712972/events?agencyID=125

returns

{"TotalCount":0,"CurrentCount":0,"PageSize":20,"PageNumber":1,"Colle

[2016-08-31 08:07] rjmacarthy commented on #20
Hi @ewanmceachran we are currently working on UAT testing some critical changes.  Therefore, the data on UAT will be somewhat inconsistent for a few days while we iron things out.

Apologies for any inconvenience this causes.

Thanks.

Richard.

[2016-08-31 08:07] #20 closed, assigned to rjmacarthy

[2016-09-01 12:33] ewanmceachran opened #21 "Property images"
I'm guessing that in order to get a list of the images associated with a property I'll need

document_read

Is this correct? If so, can I?

Ta

[2016-09-02 07:24] marc-harry commented on #21
Hi @ewanmceachran,

Yes that is correct. I've added the scope, so requesting a token with that scope should work fine now.

Cheers,
Marc

[2016-09-02 07:24] #21 closed, assigned to nobody

[2016-09-02 10:46] ewanmceachran opened #22 "Sales searching criteria"
Within the 'MustHave' and 'ShouldNotHave' etc. elements in the Criteria element for sales searching criteria there are 'PropertyTags' elements, which contain names and Ids. On the examples that I've looked at, the property tag values look like the values of the 'Town' field in property addresses. Is this the case? If not, how do these property tags relate to the address data?

Also, in all the exa

[2016-09-07 09:46] ewanmceachran opened #23 "Lettings Contract Length"
I can't find a letting on the web application with a value for 'contract length'. I'm assuming that this is given by the field 'term' on the appropriate role, since I can't find an instance where that is not null. Is this an unused field? If not, what would the type of a 'term' be - something with an id/name/systemname, or something different?

Thanks

[2016-09-15 11:03] marc-harry commented on #23
Hi @ewanmceachran,

A lettings property should have the term populated and it is an enum of type 'TermType' so you can get the available values from the enum endpoint and yes it would be id/name/systemname. A lettings property would be a role which its roletype is 'InstructionToLet' or 'Let'. If these are coming back with null Term set it might be a bug we need to investigate. Is this the case? An

[2016-09-19 15:21] ewanmceachran commented on #23
How about this one?

https://core-api-uat.dezrez.com/api/role/4698965?agencyID=125

[code]

[2016-09-20 07:59] marc-harry commented on #23
Hi @ewanmceachran,
It appears that out data migration to bring across the term for lettings properties had a bug that was fixed just after this agency was migrated. So that is why the lettings don't have term set. I have manually set the term for the example you have sent me. Is this sufficient for you to be able continue the work you have your end or do you require most lettings properties with t

[2016-09-26 10:16] #23 closed, assigned to nobody

[2016-09-26 15:01] dendle commented on #22
Hi Ewan,
Sorry for the delay - property tags are tags that the agent has invented - like a tag cloud.
They could be anything from "Great local school" to "Swansea".

As for the regions, these refer to well known regions we have imported or the agent has added themselves. See the Region endpoint for more details.

I hope this helps,
Matt

[2016-09-26 15:01] #22 closed, assigned to nobody

[2016-09-27 08:22] tuscan88 opened #24 "Can't add a group to a property"
I am calling the URL:

https://api.dezrez.com/api/property/349412/addgrouptoproperty?agencyID=131

I am using GET /api/group/{id} first in order to get the group that I want to add and then I'm passing this in the Group parameter along with ForceUpdate : true and OwnedSince : 2016-09-26T20:05:28+0100

The response I get is:

{"Message":"An error has occurred. If this persists please contact us","E

[2016-09-27 09:00] rjmacarthy commented on #24
Hi geoff please send us the JSON payload you are using to make the request.

[2016-09-27 09:01] tuscan88 commented on #24
Is there a way I can send it that isn't public as it contains contact infomation for people in it

[2016-09-27 09:02] rjmacarthy commented on #24
Changing the values of the JSON payload is OK, its just the format we are interested in.

[2016-09-27 09:06] geoffs3310 commented on #24
{
	"Group": {
		"BranchId": 1661815,
		"OwningTeamId": 1661819,
		"Roles": [{
			"GroupId": 1750512,
			"FinancialStatus": null,
			"Origin": {
				"Id": 218709,
				"Name": "Not Specified",
				"SystemName": "NotSpecified"
			},
			"Grade": null,
			"Name": null,
			"RoleType": {
				"Id": 218860,
				"Name": "Interest",
				"SystemName": "Interest"
			},
			"RoleStatus": {
				"Id": 218851,

[2016-09-27 09:10] tuscan88 commented on #24
Thinking about it though if the group has already been created and I know its ID then can't I just use the following JSON:

{"Group":{"Id":1750512},"ForceUpdate":true,"OwnedSince":"2016-09-26T20:05:28+0100"}

Basically what I'm asking is what is the minimum information I can pass the link a group id to a product id?

[2016-09-27 09:19] tuscan88 opened #25 "Getting 401 unauthorized response when calling roomdescription/save"
I am calling the following URL:

https://api.dezrez.com/api/roomdescription/save?agencyID=131

With the following data:

{"Name":"Kitchen","PropertyId":"319401","Rooms":[{"Name":"Kitchen","Text":"Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.

[2016-09-27 10:50] marc-harry commented on #25
Hi @geoffs3310,

We have identified the issue with this endpoint returning error 401. It has been fixed and is awaiting deployment, it will be pushed to the UAT environment within the next hour.

Cheers,
Marc

[2016-09-27 10:58] tuscan88 commented on #25
Thanks and when will that get propagated to live?

[2016-09-27 11:20] rjmacarthy commented on #24
Hi @geoffs3310 the JSON you are using looks fine.  Even the scaled down JSON should also be fine.

The error reports seem to suggest the problem lies with the BranchId.

Please try making the same request using the following URL and let us know how you get on.

`https://api.dezrez.com/api/property/349412/addgrouptoproperty?agencyID=131&BranchId=1661815`

Basically adding the branch id as a paramet

[2016-09-27 12:09] tuscan88 commented on #24
OK thanks that is working now

[2016-09-27 12:14] tuscan88 opened #26 "Can't add group"
I am calling the following URL:

https://api.dezrez.com/api/group/addgroup?agencyID=131

And passing the following JSON:

{"Name":"Mr and Mrs Dendle","Members":[{"Person":{"Gender":{"SystemName":"Male"},"Title":"Mr","FirstName":"Matthew","LastName":"Dendle","ContactItems":[{"Type":{"SystemName":"Email"},"Value":"matthew.dendle@dezrez.com","Notes":"Added via postman"}]},"RelationshipType":{"SystemN

[2016-09-27 12:18] #24 closed, assigned to rjmacarthy

[2016-09-27 13:32] rjmacarthy commented on #26
Hi @geoffs3310 please add the branch id on the end similar to issue #24

Richard.

[2016-09-27 13:32] #26 closed, assigned to nobody

[2016-09-27 16:08] tuscan88 commented on #26
Yep that worked thanks

[2016-09-28 08:47] tuscan88 opened #27 "How to use api/property/{id}/uploadandattachdocument method"
Can you explain how the /api/property/{id}/uploadandattachdocument method works please?

I am using Guzzle to do the http requests and have been sending json for every other call but as this requires a file to be uploaded does all the data have to be sent as multipart data instead of json? Or should the file be uploaded multipart and other parameters sent as json?

[2016-09-28 08:49] tuscan88 commented on #25
Still getting the following 401 response for this method in live:

{"Message":"Authorization has been denied for this request."}

Do you know when the fix you applied will in the live environment?

[2016-09-28 09:36] tuscan88 opened #28 "Typo with client source"
I've noticed that when adding a client through the rezi control panel there are lots of options for source and there is a typo in one of them. The option value for Recommendation is Remendation.

If I want to say that a client source is recommendation when creating a client through the API shall I pass the same value or will it be fixed?

[2016-09-28 13:02] tuscan88 opened #29 "Can't save text description"
I am calling the following url:

https://api.dezrez.com/api/TextDescription/save?agencyID=131

And passing the following JSON:

{"Text":"This is the summary","Type":{"Name":"SummaryText","SystemName":"SummaryText"},"Name":"SummaryText","PropertyId":351105,"ForceUpdate":true,"Id":null}

And getting the following response:

{"Message":"Authorization has been denied for this request."}

The scope I a

[2016-09-28 13:29] tuscan88 opened #30 "Can't save room description"
I am calling the following URL:

https://api.dezrez.com/api/RoomDescription/save?agencyID=131

With the following data:

{"Name":"Room","PropertyId":"351108","Rooms":[{"Id":null,"Order":null,"Name":"A Room","Text":"Some room","RoomDescriptionType":{"SystemName":"Room"},"RoomMeasurements":[]}],"ForceUpdate":true}

And getting the following response:

{"Message":"Authorization has been denied for th

[2016-09-28 13:40] marc-harry commented on #30
Closing as this is the same issue as #25

[2016-09-28 13:40] #30 closed, assigned to nobody

[2016-09-28 13:41] marc-harry commented on #25
This issue will be pushed to live in the next release, I cannot specify when that will be but would recommend using the UAT environment where the fix for this particular endpoint should already be available.

[2016-09-28 13:41] #25 closed, assigned to nobody

[2016-09-28 13:43] marc-harry commented on #29
A similar issue appears to have occured as the RoomDescription/save endpoint on other description endpoints. The fix for this has been made and should be available on the UAT environment in the next couple of hours.

Cheers,
Marc

[2016-09-28 13:43] #29 closed, assigned to nobody

[2016-09-28 14:00] marc-harry commented on #28
Hi @geoffs3310,
I have fixed this spelling issue for this, and the fix should be on the UAT environment shortly. Once there you should be able to pass 'Recommendation' as the source with no problems.
Cheers,
Marc

[2016-09-28 14:00] #28 closed, assigned to nobody

[2016-09-28 14:11] marc-harry commented on #27
Hi @geoffs3310,

You will need to post to this endpoint using multipart. For the FileStream property to be populated the form key of "uploaded-files" must be provided other other properties just need form keys that match the names on the data contracts.

Cheers,
Marc

[2016-09-28 14:39] tuscan88 opened #31 "Can't attach group to property in UAT"
I am calling the following URL:

https://core-api-uat.dezrez.com/api/property/519106/addgrouptoproperty?agencyID=4&BranchId=31901

And passing the following data:

{"Group":{"Id":"3341104"},"ForceUpdate":true}

And getting the following response:

{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"619a4079-5b1e-43dd-8be9-359f453ded60","Details":"Error occured

[2016-09-28 14:44] marc-harry commented on #31
This endpoint is throwing an error due to the "OwnedSince" property not being provided. This is a required field on this endpoint.

Cheers,
Marc

[2016-09-28 14:44] #31 closed, assigned to nobody

[2016-09-29 08:46] tuscan88 opened #32 "Can't retrieve group offers in UAT environment"
I am calling a GET request on the following URL:

https://core-api-uat.dezrez.com/api/group/3341105/offers/received?agencyID=4&pageNumber=1&pageSize=20

And getting the following response:

{"Message":"Authorization has been denied for this request."}

[2016-09-29 09:13] tuscan88 opened #33 "Can't save room description in UAT environment"
I am doing a POST request to the following URL:

https://core-api-uat.dezrez.com/api/RoomDescription/save?agencyID=4

Passing the following data:

{"Name":"Room","PropertyId":"519106","Rooms":[{"Id":null,"Order":null,"Name":"A Room","Text":"Donec rutrum congue leo eget malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Quisque velit nisi, pretium ut lacinia in, eleme

[2016-09-29 09:43] marc-harry commented on #32
Hi @geoffs3310,
This issue is due to the scope permissions on that particular endpoint. I have fixed the issue with this and it will be deployed to the UAT environment shortly.
Cheers,
Marc

[2016-09-29 09:43] #32 closed, assigned to nobody

[2016-09-29 09:55] tuscan88 commented on #27
I have got the upload working but the image doesn't seem to be getting attached to the property in the UAT environment. For example I have done a POST request to the following URL:

https://core-api-uat.dezrez.com/api/property/519106/uploadandattachdocument?agencyID=4

With the following multipart data:

{
    [
        [name] => uploaded-files
        [contents] => Resource id #400
        [filen

[2016-09-29 09:59] marc-harry commented on #33
There are a couple of core concepts with the API, what is happening with the endpoint call above is the description is getting saved but it would be saved onto the Property with Id: 519106.

This wouldn't appear on the marketing information for that property. As we use roles to store all the information contained within a single marketing cycle. You would need to provide the Sales Marketing Role I

[2016-09-29 10:14] tuscan88 commented on #33
OK I think I understand now thanks

[2016-09-29 10:14] #33 closed, assigned to nobody

[2016-09-29 10:15] tuscan88 commented on #27
This is the same issue as #33 The images need to be attached to a role if the property is being marketed

[2016-09-29 10:15] #27 closed, assigned to nobody

[2016-09-29 11:43] marc-harry commented on #15
Closing this issue as a change to the API now means that requesting a deleted group from /api/group/{id} will return the group but the SystemStatus of that group will be 'Deleted'. This fix will be in the next release.

[2016-09-29 11:43] #15 closed, assigned to rjmacarthy

[2016-09-29 11:46] marc-harry commented on #18
This should now be resolved as part of the same resolution to issue #15. Closing as will be fixed in the next release.

[2016-09-29 11:46] #18 closed, assigned to rjmacarthy

[2016-10-03 22:12] tuscan88 opened #34 "RoomDescription/save returns null in UAT environment"
I am doing a POST request to the following URL:

https://core-api-uat.dezrez.com/api/RoomDescription/save?agencyID=4&BranchId=31901

With the following data:

{"Id":3908813,"Name":"Room","Notes":null,"PropertyId":524602,"RoleId":6186602,"Rooms":[{"Id":0,"Order":0,"Name":"Living Room","Text":"Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Pellentesque in ipsum id

[2016-10-04 20:46] tuscan88 opened #35 "Question: Is there the ability for an estate agent to login and save a message against a user?"
I can see that there is a chat application in the Rezi web applicant but it appears to only let me message other agents rather than the property vendors. I can also see that when viewing a property there is the option to contact the customer which gives me the option to send an SMS or email to the vendor. Is there a way to simply store a message either against a user or a property though which can

[2016-10-07 10:28] dzy969 opened #36 "Create Viewing Request"
Hi,
Can you advise which API call(s) we should use to create a viewing request?

In the Rezi UI, under To-Dos, Unadssigned tasks, there is a queue for requests from 'online sources like websites and property portals'

We'd like to add viewing requests (and valuation requests) from our website to these todo queues

Thanks
Dean

[2016-10-07 11:07] marc-harry commented on #36
Hi,
The best API endpoint to do this so that the requests end up in the todo queues is to use the `api/inboundlead/create` endpoint.

If you look at the data contract for this endpoint on the api help page you will see the structure for the request. The SourceType and RequestType properties on the data contract need to be filled in with one of the values return from the `api/enum/leadsourcetype` a

[2016-10-07 11:18] marc-harry commented on #35
Hi @geoffs3310,
So the best endpoints to achieve what your looking to do is the `api/event/noteevent/add` and then specifying either RoleId if its to be associated to property marketing role or GroupId for a group of people.

You can then get these notes back with all other events using `api/group/events` or `api/role/events` or if you just want notes you can use `api/group/notes` or `api/role/not

[2016-10-07 11:49] tuscan88 commented on #35
Great thanks

[2016-10-07 11:49] #35 closed, assigned to nobody

[2016-10-07 12:12] marc-harry commented on #34
Hi @geoffs3310,
I have just tested this example and it has worked successfully and returned the description that was created in the response. Is this something that is still happening for you?
Cheers,
Marc

[2016-10-17 09:51] prashant-v opened #37 "Create inboundlead TODO API issue"
Hello,

We are facing an issue in executing following API - https://core-api-uat.dezrez.com/Help/Api/POST-api-inboundlead-create_assignToNegId
We are getting an message :  Authorization has been denied for this request

Can you give us access of the same?

[2016-10-17 10:08] marc-harry commented on #37
Hi @prashant-v,
We have set you up to be able to use the lead_sender claim, you will need to pass this as one of the scopes when you request an auth token. And then that endpoint will work.

Cheers,
Marc

[2016-10-17 10:08] #37 closed, assigned to nobody

[2016-10-17 10:31] prashant-v commented on #37
Thanks, API is executing and we are facing following error.

{"Message":"Domain Service - Validation has failed for: InboundLeadsDomainService - CreateLead","ErrorReference":"ILDS-CL","Details":"See the ValidationErrors list of (1) issues for more details.","ValidationErrors":["No request type provided!"]}

Can you guide for the same?

[2016-10-17 10:43] marc-harry commented on #37
You need to provide a DeterminedRequestType you can see all available request types by hitting the api/enum?typeName=LeadRequestType

Cheers,
Marc

[2016-10-18 12:11] prashant-v commented on #37
Hello,

Can you please specify more information about the following parameters in the API request?
assignToNegId - What Id do we need to pass, Is it mandatory field?
Email - what email address do we need to pass?

There are other fields in the request object, we have only SourceType, RequestType , peoples name and email and PropertyMarketingRoleIds field. Does this API will execute with all the ab

[2016-10-20 09:36] prashant-v commented on #36
Hello,

Can you please specify more information about the following parameters in the API request?
assignToNegId - What Id do we need to pass, Is it mandatory field?
Email - what email address do we need to pass?

There are other fields in the request object, we have only SourceType, RequestType , peoples name and email and PropertyMarketingRoleIds field. Does this API will execute with all the ab

[2016-10-21 09:19] marc-harry commented on #37
Hi @prashant-v,
The assignToNegId is an optional parameter if you know the negotiator Id the lead should be directed to then you can provide one but if not the lead is available to everyone in the branch to view.

The peoples names, RequestType and email should be the minimum yes, if the lead is anything other than general then yes the PropertyMarketingRoleIds field is also required.

The error th

[2016-10-21 11:51] prashant-v commented on #37
Thanks we are able to execute API request.

Thanks,
Nitin

[2016-10-21 11:52] marc-harry commented on #36
Resolution in #37 is same for this

[2016-10-21 11:52] #36 closed, assigned to nobody

[2016-10-21 11:53] prashant-v commented on #36
Thanks we are able to execute the API with following required parameters.
SourceType, RequestType, PropertyMarketingRoleIds, Email and DateSubmitted

Thanks,
Nitin

[2016-11-12 14:23] #34 closed, assigned to nobody

[2016-11-12 14:25] tuscan88 opened #38 "Notifications"
Is there a way either directly from Rezi or through the use of the API or other service that users can be instantly notified when a viewing gets created or cancelled for one of their properties?

[2016-11-12 15:22] tuscan88 opened #39 "Property location not set correctly"
When trying to push properties to the portals that have been created through the API we are seeing a message saying "The property location has not been set correctly" (see screenshot [http://imgur.com/2iPimkw](http://imgur.com/2iPimkw)) Are you able to give any more information as to why this would be happening. We are passing through the various address fields when the property is being created a

[2016-11-14 14:11] rjmacarthy commented on #39
Hi @geoffs3310, this error will occur if the property does not have a Latitude or Longitude set.  You can fix this by amending the Location marker in the Location tab on the MarketingHub page you are on.

This can also be fixed/achieved using the API and the `api/address` endpoints.

These endpoints can also be used to integrate google maps and such extensions.

Once these values are set the prope

[2016-11-14 14:12] #39 closed, assigned to rjmacarthy

[2016-11-14 15:20] rjmacarthy commented on #38
HI @geoffs3310 there is SignalR into the API.  Therefore, such functionality should be available when connecting to the SignalR hub.

In the Rezi SPA we connect using the jQuery SignalR package as such:

[code]

Where:

 `Config.SignalRUrl` = https://core-api-systest.dezrez.com/signalr/hubs

And

 `this._authServiceInstance.AccessToken` = Your API access token.

Once connected you should start to

[2016-11-16 11:44] prashant-v opened #40 "Create Appointment on REZI UI Instance"
Hello,

We are facing an issue in creating appointment from REZI UI instance for the Agency "122" and "12"
We are getting 500 internal server with the following error message
{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"1d53b356-368c-46e0-b72c-53aea724533a"
,"Details":"Error occured whilst invoking action SaveAppointment on controller AppointmentControll

[2016-11-16 11:51] dendle commented on #40
Hello Nitin,

The error is “1d53b356-368c-46e0-b72c-53aea724533a attempt to create saveOrUpdate event with null entity Parameter name: entity System.ArgumentNullException: attempt to create saveOrUpdate event with null entity”

Can you elaborate on the request you made?

Perhaps post the JSON you sent over, with sensitive details removed?

Thank you,
Matt

From: prashant-v [mailto:notifications@gi

[2016-11-16 11:59] prashant-v commented on #40
Hi Matt,

Sent you an email about the same, please have a look.
Let me know if you need other information.

Thanks,
Nitin

[2016-11-16 12:25] dendle commented on #40
Hello Nitin,

I have submitted this to our internal development team as a bug.

However, without seeing the JSON, I would suspect that this is a front end SPA issue, rather than an API issue.

If you look in the network tab, does the JSON look well formed?

I will update you with the findings the internal team make.

Thanks,
Matt

From: prashant-v [mailto:notifications@github.com]
Sent: 16 Novembe

[2016-11-16 12:55] prashant-v commented on #40
Hello Matt,

Yes when we check the JSON on network tab it looks in correct format.
We are executing the same request from save appointment API as well but facing the same issue.
I have sent you another email with details about the  API request.

Thanks,
Nitin

[2016-11-20 16:08] tuscan88 opened #41 "Getting 401 unauthorised response on UAT when trying to update address centerpoint"
I am doing a put request to the following URL:

https://core-api-uat.dezrez.com/api/address/2490502/centerpoint?agencyID=4

Passing the following data:

{ 'Latitude': '53.17219190', 'Longitude': '-2.93177660', 'Altitude': '1' }

And getting the following response:

{"Message":"Authorization has been denied for this request."}

The scope for my Oauth token is:

impersonate_web_user property_write p

[2016-12-01 10:27] dendle commented on #41
Hello Geoff,

I'm sorry its taken so long to get back to you.

This issue is due to a default security rule being applied - I have now fixed this in code, and it will make its way to UAT and Release over the next few days.

Thanks,
Matt

[2016-12-01 10:27] #41 closed, assigned to nobody

[2016-12-03 12:28] dzy969 opened #42 "Image Resize"
Hi,
Is there a replacement image resizer for rezi? and does it return a https url?

Thanks
Dean

[2016-12-05 09:35] dendle commented on #42
Hello Dean,

The images that are stored in rezi can be resized by using query string parameters.

For example, taking an image URL from the rezi api, and adding &width=200 will resize it to 200px wide.

Yes, the image URLs are accessible over HTTPS.

Thanks,
Matt

[2016-12-07 08:09] dzy969 opened #43 "UAT Differance"
Hi,
On our live UI instance we have a description block called Services that we use for the tenant fees.  This block doesn't display on our UAT UI instance.

Is this a config change we need on the UAT instance?

Thanks
Dean

[2016-12-12 12:16] #42 closed, assigned to nobody

[2016-12-12 12:17] #38 closed, assigned to nobody

[2016-12-12 19:19] tuscan88 opened #44 "Possible issue trying to access private documents"
When I retrieve all documents for a property some are private and some are public. If I try and download the file of a private file I get the following error:

http://imgur.com/GnyPQ3Z

Is this a bug or is there another way to download a private file?

[2016-12-13 10:02] dendle commented on #44
Hello Geoff,

You're seeing the raw error there, which is a bug; you should have a nice "Access Denied" error message there instead.

The term Private Documents means that these documents should not be made available in the public domain, so you are required to add the appropriate security headers to the request, as per calls to the main API - if you normally need to attach an agencyID to your API

[2017-01-11 11:48] ewanmceachran opened #45 "General problem using UAT API"
Hi,

I haven't been working on this for a few months, and have just returned to my test code, which now doesn't work. The authentication stuff seems fine, but none of the API calls work. An example:

https://core-api-uat.dezrez.com/api/role/4687103/vendors?agencyID=125

{"Message":"An error has occurred. If this persists please contact us","ErrorReference":"7c3b9d09-0787-4a01-9bb1-a423e76d3af1","D

[2017-01-11 12:56] rjmacarthy commented on #45
HI @ewanmceachran

Please can you try to specify a branchId in the query string for this request and see if this helps.

If still a problem, let us know.

Thanks

[2017-01-11 14:02] ewanmceachran commented on #45
I didn't know what branchId to use, so I went with branchId=1. This did not help.

[2017-01-11 16:17] rjmacarthy commented on #45
HI @ewanmceachran you can get a list of branch ids from `/agency` endpoint.

Alternatively,  I have looked up a branch Id for you of: 2336007

Please let me know if this helps.

Richard.

[2017-01-11 16:25] ewanmceachran commented on #45
Nope, that didn't help, sorry.

[2017-01-11 16:45] dendle commented on #45
I have AgencyID 125 as deleted on UAT.

is that the right agencyID?

Cheers,
Matt

[2017-01-12 08:30] ewanmceachran commented on #45
That's the agency ID I've always used, yes. Perhaps it got deleted from lack of use?

[2017-01-15 20:07] irishboy1976 opened #46 "Failed to retrieve node context for agencyId 0"
Hi there, Just getting started on a property app for my client, my dev has hit a snag straight away and was wondering whether we are set up with the correct permissions/authorisation.

This is our request: https://github.com/ndxbxrme/vs-property/blob/master/src/server/dezrez.coffee

and we are receiving these errors:

_An error occurred when trying to create a controller of type \'PeopleController

[2017-01-17 09:00] marc-harry commented on #46
Hi @irishboy1976,
In order for this request to be successful you need to add 'agencyId' as a query string parameter with the agency id for the customer you developing for, The endpoint should then return you a response.

Cheers,
Marc

[2017-01-25 09:35] ewanmceachran opened #47 "Request restrictions (429 responses)"
Hi,

Could you tell me what restrictions there are on the Rezi UAT environment - and the live environment - in terms of request volume? I tried to load up all the historical data (for the fields that I needed) from UAT and after a while started getting 429 responses.

Ta

[2017-01-25 15:47] simmerz opened #48 ""Under Offer" properties"
Hi, trying to understand the Swagger UI docs, and failing. How would I go about getting a list of properties currently under offer/sale agreed?

[2017-01-26 10:42] #44 closed, assigned to nobody

[2017-02-01 09:58] #46 closed, assigned to nobody

[2017-02-01 10:01] marc-harry commented on #47
Hi @ewanmceachran,

There is a request limit on the API of 750 requests per hour. If you are exceeding that then that would be the reason for the 429 responses you are getting.

Cheers,
Marc

[2017-02-01 10:01] #47 closed, assigned to nobody

[2017-02-01 10:05] rjmacarthy commented on #48
Hi @simmerz the best way to do this would be using the property list endpoint, for example:

**POST**

`api/list/property?pageSize=25&pageNumber=1`

Using the following payload:

[code]

The role statuses array will allow you to filter properties in different statuses.

Hope that helps.

[2017-02-06 17:29] irishboy1976 opened #49 "Errors switching to live environment"
OK, so we are trying to get this live key working, and we are hitting some errors.

Firstly when we tried with all the scopes provided: event_read event_write people_read people_write property_read property_write impersonate_web_user, it won’t even allow us to get an access token.
If we try it without the impersonate_web_user, it at least gets us past the token part. (we tried taking that out of t

[2017-02-10 10:26] dzy969 opened #50 "Withdrawn Property still live"
Hi,
We have a property that has been 'withdrawn'. The rezi UI correctly shows that but in the API the property is still shown as InstructionToSell.

Is this a bug or is there another field we should be looking at to override this flag?

PropertyID: 3860813

Thanks
Dean

[2017-02-10 11:56] #48 closed, assigned to rjmacarthy

[2017-02-10 11:58] rjmacarthy commented on #43
This sounds like a custom description type, they can be added on per request.  Do you need this added on?

If so please let us know your Agency ID and we can add it on for you.

[2017-02-10 11:58] rjmacarthy commented on #50
Hi, please let us know which agency ID you are using and which endpoint in the API you are using where the wrong data is showing.

[2017-02-10 12:00] rjmacarthy commented on #45
Hi @ewanmceachran is this resolved for you now?

[2017-02-10 12:29] prashant-v commented on #50
Hello,

We are using the AgencyID : 84 and we are using the following endpoint API to get the properties.
https://api.dezrez.com/api/simplepropertyrole/search?AgencyId=84
and to get property details by role we are using following API
https://api.dezrez.com/api/simplepropertyrole/3860813?AgencyId=84

Please note :  3860813 is property role id.

Thanks,
Nitin

[2017-02-10 16:13] ewanmceachran commented on #45
Yup, thanks

[2017-02-10 16:13] #45 closed, assigned to nobody

[2017-02-15 11:09] neilrbanks opened #51 "using list/groupidsfiltered"
Hi calling
https://api.dezrez.com/api/list/groupidsfiltered/?agencyId=xxx

results in
  "Message": "No HTTP resource was found that matches the request URI 'https://api.dezrez.com/api/list/groupidsfiltered/?agencyId=xxx'.",
  "
calling without agencyid finds the method but returns

"ExceptionMessage": "Failed to retrieve node context for agencyId 0 also providing in body produces same error. How d

[2017-02-15 14:23] rjmacarthy commented on #51
Hi Neil,

The endpoint you need is `/api/list/groups/groupidsfiltered` not `/api/list/groupidsfiltered`

Richard.

[2017-02-15 14:37] neilrbanks commented on #51
ok cheers that's working

Thanks Neil

[2017-02-15 14:37] #51 closed, assigned to nobody

[2017-02-16 13:59] dzy969 commented on #50
Hi - Any update on this issue?

[2017-02-16 16:38] rjmacarthy commented on #50
This was a small data inconsistency, which should be resolved now.

Richard.

[2017-02-22 19:44] tuscan88 opened #54 "Is it possible to update summary, main marketing text and features before a property has been put on the market?"
I am using the API to create a property in Rezi and so as part of that process I use the following API methods to add the summary, main marketing text and features:

// Summary
POST to api/TextDescription/save
data = [
	'Text' => 'Some summary text',
	'Type' => [
		'Name' => 'SummaryText',
		'SystemName' => 'SummaryText'
	],
	'Name' => 'SummaryText',
	'ForceUpdate' => true,
	'Id' => [property rezi

[2017-03-14 13:05] neilrbanks opened #55 "Using list/groupinterests"
Hi

I'm calling
https://api.dezrez.com/api/list/groupinterests?agencyId=xxx&pageSize=100

with body of
{
      "RoleTypes": ["SearchingForSale"]
}
 which is returning nothing but when I make the same call without a filter and iterate the results there are multiple entries  with that roletype am I missing something?

Thanks

[2017-03-21 13:36] neilrbanks opened #56 "https://api.dezrez.com/api/list/property/propertyidsfiltered?agencyId=xxx"
Hi calling above api  with body of {} appears to be returning a set of propertyids which when calling

https://api.dezrez.com/api/property/xxxxxxxx/?agencyId=106
 returns

{
  "Message": "Property with id = xxxxxxx not found"
}

[2017-03-23 16:40] dendle commented on #56
Hello Neil,

This may be a data issue, where the list filters are returning references to properties that are deleted or are not in an active state.

However, to make sure this is the case, can you provide us with a propertyId, and which JSON property from the list endpoint results you got it from.

Thanks,
Matt

[2017-03-24 09:37] neilrbanks commented on #56
Hi Matt

Here are an example of the propertyids coming back but trying to retrieve any of these via

https://api.dezrez.com/api/property/xxxxxxxx?agencyId=xxx
results in

{
  "Message": "Property with id = xxxxxxxx not found"
}

  1892059,
  1892063,
  1892070,
  1892086,
  1892099,
  1892149,
  1892179,
  1892213,
  1890956,
  1889406,
  1888340,
  1894889,
  5021814,
  4523211,
  5121911

I am c

[2017-03-24 09:52] dendle commented on #56
Hello Neil,

I've just checked the code and the endpoints name is misleading.

The IDs are not property IDs - they are the RoleIds of sales and lettings roles, which are attached to properties.

Use the Get Role endpoint with those IDs, and that should give you the information you are looking for.

I'll see if I can update the documentation to make this endpoint name less misleading.

Thanks,
Matt

[2017-03-24 10:04] neilrbanks commented on #56
Hi Matt

Ok cheers I can work with that

Thanks Neil

From: Matt Dendle [mailto:notifications@github.com]
Sent: 24 March 2017 09:53
To: dezrez/DezrezCoreAPI <DezrezCoreAPI@noreply.github.com>
Cc: Neil Banks <neil.banks@propertysoftwaregroup.com>; Author <author@noreply.github.com>
Subject: Re: [dezrez/DezrezCoreAPI] https://api.dezrez.com/api/list/property/propertyidsfiltered?agencyId=xxx (#56)

H

[2017-03-24 10:13] dendle commented on #56
Awesome. I'll close this off.

[2017-03-24 10:13] #56 closed, assigned to nobody

[2017-03-24 10:16] neilrbanks commented on #56
Hi matt do you have any idea on the groupidsfiltered issue:-

Cheers Neil

I have just come across another issue using
/list/groups/groupidsfiltered

To obtain a list of people in a group but have found some cases the groupid on the properties Owns role isn’t there any idea why that would be the case

From: Matt Dendle [mailto:notifications@github.com]
Sent: 24 March 2017 10:13
To: dezrez/DezrezCo

[2017-03-24 10:42] dendle commented on #56
Think thats a different case there - you are not just getting Id's back, you are getting a data contract back that actually says GroupId and PersonIds, so there is no ambiguity there.

In this case, if you are getting 404s or missing references, this is because that entity has been deleted in our software.

However, if this is happening for the majority of calls, esp. for active stock, this might

[2017-03-24 11:11] neilrbanks commented on #56
Hi Matt Yes I do deserialize and walk the data structure – just looking at the examples I have been given and they appear to be at status Valued don’t know if that’s just a coincidence and a number of let properties.

Thanks Neil

From: Matt Dendle [mailto:notifications@github.com]
Sent: 24 March 2017 10:43
To: dezrez/DezrezCoreAPI <DezrezCoreAPI@noreply.github.com>
Cc: Neil Banks <neil.banks@prop

[2017-03-24 14:43] neilrbanks commented on #56
Hi Matt

Got some examples which have a groupid on Owns Role but no matching entry in groupidsfiltered and there are quite alot

Thanks Neil

Some examples from sales
204230  Active   Exchanged
203315  Active   Exchanged
200141  Active   InstructionToSell
202586  Active   InstructionToSell
201890  Active   InstructionToSell
201329  Active   InstructionToSell
200769  Active   InstructionToSell
2053

[2017-05-24 13:23] #50 closed, assigned to nobody

[2017-05-24 13:23] #43 closed, assigned to nobody

[2017-05-24 13:39] prashant-v opened #57 "Error in executing api/region/suggest API"
Hello,

We are trying to use api/region/suggest (https://core-api-uat.dezrez.com/Help/Api/POST-api-region-suggest) API to get available region in REZI, but we are facing 401 Unauthorized error.

We also cross checked for available scope but do not found any scope related to region. Can you please suggest solution for the same.

Please note we are facing the same issue while using another region re

[2017-05-31 11:42] marc-harry commented on #57
Hi @prashant-v

We have found the issue is with the permissions for those region endpoints, we have amended this now so they will work off the property_read and property_write scopes. The deployment is currently going through testing and then to the UAT environment and should be there in approximately one hours time.

[2017-05-31 11:42] #57 closed, assigned to nobody

[2017-06-16 13:28] ewanmceachran opened #58 "Field mappings"
From an integration with a previous version of DezRez we have the following fields on a 'contact':

Active
Deleted
Branch Code
Status Text
Financial
Financial Text
Grade ID
Reason
Reason Text
Updated Date

Could you let me know if there are analogues in Rezi and, if so, how to get them? I can't face any more random poking at your API in the hope that they'll drop out.

Thanks

[2017-06-16 16:16] DezrezEnterpriseTeam commented on #58
Hi Ewan, see below for some useful info relating to these items:

Active
https://api.dezrez.com/group/{id}
SystemStatus.Name == "Active"

Deleted
https://api.dezrez.com/group/{id}
SystemStatus.Name == "Archived"

Branch Code
https://api.dezrez.com/group/{id}

Status Text
https://api.dezrez.com/group/{id}
Roles[0].FinancialStatus == {Id: 384, Name: "Spoken to our advisor", SystemName: "SpokenToOurA

[2017-06-27 15:10] ewanmceachran commented on #58
Thank you for the response - very helpful

[2017-07-17 14:34] ewanmceachran opened #59 "API usage restrictions"
Hi,

I've been working to a limitation on the API usage for development, something like 750 calls in an hour. Are there similar such restrictions on calls to live systems?

[2017-08-01 09:03] neilrbanks opened #60 "Problem Reading Room Descriptions"
Hi

We have an issue using

https://api.dezrez.com/api/property/xxxxxx/descriptions/?agencyId=xx

Most properties are coming back with a room sequence containing a list of room descriptions but a number of properties do not contain the room descriptions even though there are room descriptions entered on the property example ids

736206
741305
743609
746007
749603
754507
766201

Thanks

[2017-08-02 15:28] dendle commented on #60
Hello Neil,

The URL you mention queries descriptions from a property - these descriptions may or may not be used by related sales/lettings roles.

In the example you have given, property 736206 has a lettings role 5082034. The software itself is querying the descriptions in the lettings role rather than on the "parent" property.

The endpoint to get the descriptions for a role is:
https://api.dez

[2017-08-02 16:09] neilrbanks commented on #60
Hi Matt

Thanks for response yes that make sense I will amend the code to pull descriptions from the properties appropriate role instead

Thanks Neil

From: Matt Dendle [mailto:notifications@github.com]
Sent: 02 August 2017 16:28
To: dezrez/DezrezCoreAPI <DezrezCoreAPI@noreply.github.com>
Cc: Neil Banks <neil.banks@propertysoftwaregroup.com>; Author <author@noreply.github.com>
Subject: Re: [dezrez

[2017-08-02 16:09] neilrbanks commented on #60
Thanks that makes sense

[2017-08-02 16:09] #60 closed, assigned to nobody

[2017-08-02 16:24] dendle commented on #59
Hello Ewan,

Sorry for the delay in the response - I'm not sure if we have answered you via another channel, but yes, by default, 750 per hour is the rate limit.  However, we can change this for partners if it poses problems for a particular integration.

Give me a shout if you want to discuss further.

Cheers,
Matt

[2017-08-02 16:24] #59 closed, assigned to nobody

[2017-08-02 16:25] #58 closed, assigned to nobody

[2017-08-02 16:26] dendle commented on #40
I am closing this issue due to inactivity; if there are any new issues, please create a new ticket.  Thanks!

[2017-08-02 16:26] #40 closed, assigned to nobody

[2017-08-02 16:31] dendle commented on #54
Hello Geoff,

Sorry for the delay here - is this still an issue for you?

The mix-up might be that we store descriptions on a property, as well as the roles the property is in.

For example, see the case I just closed with #60.

Also, where are you reading them from to say that they are not appearing?

I'll close this ticket as old - if this is still an issue, go ahead and reply and I'll re-open i

[2017-08-02 16:31] #54 closed, assigned to nobody

[2017-08-02 16:33] dendle commented on #49
Sorry for the delay in replying - is this still an issue for you?

I'm not sure if we've responded via another channel, so I'll close this issue for now - feel free to reply here and I'll re-open it and help you out.

Cheers,
Matt

[2017-08-02 16:33] #49 closed, assigned to nobody

[2017-08-02 16:35] dendle commented on #55
Hello Neil,

I appreciate this might be a late response, so I hope we've responded on another channel - if not, please let me know if this issue is still ongoing.

I can get the filter to work here, so I'm hoping this is a bug we've fixed.

Cheers,
Matt

[2017-08-02 16:35] #55 closed, assigned to nobody

[2017-08-03 20:01] dzy969 opened #61 "List of viewings"
Hi,
What would be the easiest way to get a list of all the viewing appointments that took place in the last x days.

Is there a easier way than cycling through all the property roles and getting the appointments for one?

Cheers
Dean

[2017-08-04 08:57] dendle commented on #61
Hi Dean,
I think the event list endpoint would be best - you can filter the returned types to just viewings, and can also supply a date range filter.

Here is the API:
http://api.dezrez.com/Help/Api/POST-api-list-events_pageSize_pageNumber

Hope this helps,
Cheers,
Matt

[2017-08-04 08:57] #61 closed, assigned to nobody

[2017-08-07 11:05] prashant-v opened #62 "Issue- accessing APIs"
Hello Team,

I have been facing issue of 500 (Internal server error) while accessing APIs since Friday. Here is the details you can find sample error details:

URL(POST)-  https://api.dezrez.com/api/simplepropertyrole/search?AgencyId=122
Request body- {'PageSize': 34000,'PageNumber': 1, 'IncludeStc':'true'}
Response returned- The remote server returned an error: (500) Internal Server Error.

Can y

[2017-08-07 11:20] DezrezEnterpriseTeam commented on #62
Hi Prashant, the agency with ID 122 is not an active agency using Rezi at this time. Please liaise directly with your client and if this should not be the case, please ask them to contact their Dezrez account manager to resolve.

[2017-08-07 11:30] prashant-v commented on #62
Oh! Sorry for wrong URL.

Can you please check for this URL: https://core-api-uat.dezrez.com/api/simplepropertyrole/search?AgencyId=122 ?

Sorry for hassle. Awaiting for your response!

Thanks,
Prashant

[2017-08-07 12:57] DezrezEnterpriseTeam commented on #62
Hi Prashant, due to an issue with our test environment we had to rebuild the environment and as a result, remove all test agency data. Unfortunately this means your test data is no longer available to you. I apologise for this. We will create a new agency and seed it with some dummy data from this agency's old software. Once complete, we will be in touch.

[2017-08-08 08:22] DezrezEnterpriseTeam commented on #62
Hi Prashant, a new agency has been set up on our UAT environment with an Agency ID of 317. All other details you have used in the past should remain the same.

Apologies again for the inconvenience.

[2017-08-08 08:22] #62 closed, assigned to nobody

[2017-08-08 09:35] prashant-v commented on #62
Thanks for your help. In addition to this, can you recover data related to viewings as well, I wanted to play with viewings and their feedback?

Thanks
Prashant

[2017-08-09 08:34] dzy969 commented on #62
Can you populate agencyid 317 with data from our live installation or even from our old dezrez system.  We need some test data really otherwise its really going to waste a lot of time recreating it manually.

[2017-08-09 08:40] DezrezEnterpriseTeam commented on #62
Hi both, agency 317 was populated with data from the old Dezrez system when it was recreated. There are 100s of properties and 1000s of clients in there for you to work with. Can you let us know what you are seeing to make you think there is no data in there? Thanks.

[2017-08-09 08:48] dzy969 commented on #62
Hi - I cant see anything in Rezi, Did you switch our https://rezi-web-uat.dezrez.com logins over to 317? and are the API credentials the same as before?

[2017-08-09 08:50] DezrezEnterpriseTeam commented on #62
Please can you drop an email to developer.questions@dezrez.com with the credentials you are using so that we can check they are mapped correctly to the new agency.

[2018-02-28 15:31] dzy969 opened #63 "Sudden 500 Error"
Hi,
In the last day we are getting 500 errors in response to submitting viewing feedback via the API.  We have released any code for a couple of months so I dont think anything has changed at our end.

Has anything changed your end?
Dean

[2018-02-28 15:40] dendle commented on #63
Hello Dean,
Sorry to hear that you are getting errors from our API - let me look into this for you.

It would be much quicker if you could provide an error reference/guid so that I can track the request - could you provide this?

Ideally, you would also have the request URL to hand and the contents, but I realise this is not always possible.

Any more information you can provide would be great

Th

[2018-02-28 16:41] dzy969 commented on #63
Hi Matt,
Request URL is https://api.dezrez.com/api/viewing/41487023/recordfeedback?AgencyId=84&branchId=648405

Contents
`{"FeedbackId":null,"Feedback":"Match requirements:\r\n0.\r\n\r\nCondition of the property:\r\n0.\r\n\r\nValue for money:\r\n0.\r\n\r\nWould you Like us to contact you regarding this viewing?\r\nNo.\r\n\r\nOther comments:\r\nTest by Dean - Please ignore.","FeedbackDate":"2018-02

[2018-02-28 17:18] dendle commented on #63
All API errors should come back with a JSON error, so that fact that it hasn't is strange.

Can you dig into the response headers and supply those?

In the meantime, i'll try and replicate the issue here...

[2018-03-01 12:35] marc-harry commented on #63
Hi Dean (@dzy969 ),

I've been looking into the error you've been getting there isn't anything wrong with the data you are passing into that request.
As Matt suggested do you get anything else in the error response body. If not could you look for the response header named: Dezrez-Trace-Guid and provide us with the guid value, I will hopefully then be able to narrow down the cause of the issue.

Th

[2018-03-01 12:59] dzy969 commented on #63
Hi Marc,
Here are the headers.

{Pragma: no-cache
Dezrez-Trace-Guid: 86295dac-ae31-4b81-bdfb-d9eec6091f0d
Request-Context: appId=cid-v1:c6bdbebd-0fa4-448a-8a0c-5faaa8b30c2e
Content-Length: 311
Cache-Control: no-cache
Content-Type: application/json; charset=utf-8
Date: Thu, 01 Mar 2018 12:56:56 GMT
Expires: -1
Server: Microsoft-IIS/10.0
X-AspNet-Version: 4.0.30319
X-Powered-By: ASP.NET

}

[2018-03-01 15:01] marc-harry commented on #63
Hi Dean,

Thank you for that using that information, I was also able to replicate the issue here. I have put in a fix for this issue and hopefully it should be deployed to the live environment as soon as it has been approved by our quality assurance team.

Thanks,
Marc

[2018-03-06 12:07] dzy969 commented on #63
Hi Marc,
Do you know if the fix is now live?
Thanks

[2018-03-07 08:15] marc-harry commented on #63
Hi Dean, (@dzy969)

The fix for this is now live. And this error should no longer occur.

Thanks,
Marc

[2018-03-07 08:15] #63 closed, assigned to dendle, marc-harry

[2019-03-28 20:56] alan-macdonald-espc opened #64 "Client flow - Could not map the current identity to a user!"
Hi,

I'm hoping you can help: I'm attempting to write a server-side app which accesses the Dezrez API on behalf of a client, and although I'm able to authenticate and get an OAuth 2 access token, whenever I make a request to the API using that token, I get the same error returned: `Could not map the current identity to a user!`

I'm using the OAuth client flow and a scope of `property_read`, and w

[2019-04-12 11:32] matt-lethargic commented on #64
Hi Alan,

I'll look into this now and get you a working solution.
And sorry for the delay in getting back to you.

[2019-04-12 12:32] matt-lethargic commented on #64
Could you send me:

- Url you are using
- ClientId
- Email address of account
- Scope

[2019-04-12 13:10] alan-macdonald-espc commented on #64
Thanks Matt.   I've sent you an email with the details so you should receive it shortly.

[2019-05-16 10:32] tom-sinclair opened #65 "Branches endpoint throws exception"
Ultimately, I'm trying to get all milestones (`/agency/progression/getallmilestones`), but that endpoint requires `progressorRoleId`, as I'm not sure what this is and where to get it, I tried to access all branches to get hold of the roles attached to it, as one of your guides infers all roles belong to a branch. When I hit this endpoint (`/agency/branches`), an exception is thrown:
[code]

Any he

[2019-05-16 13:11] ajonesgh commented on #65
Hi Tom

The ProgressionRoleId will be the TenantRoleId or PurchasingRoleId which can be found on the property marketing role

Any further issues please let us know

Thanks
Adam

[2019-05-17 08:10] tom-sinclair commented on #65
How do I get the property marketing role? Can you point me to the endpoints I would need to hit to get the information I need, the only information I have is the agency IDs

Are there any walkthrough guides on how to use your API or what the data structure looks like?

[2019-05-17 08:42] ajonesgh commented on #65
If you don't know the id's up front you can do a search using the global search endpoint https://api.dezrez.com/Help/Api/GET-api-globalsearch-properties

Here is the API help page https://api.dezrez.com/help

[2019-05-17 11:44] tom-sinclair commented on #65
Is a role unique to a property?

[2019-05-17 13:38] ajonesgh commented on #65
Yes. Once a property is valued a Selling/Letting role is created on the Property.Roles collection

[2019-05-21 12:16] #65 closed, assigned to nobody

[2019-05-21 12:19] ajonesgh commented on #64
Hi Alan

I hope the email I sent last Friday has resolved the issue you were having. If you have any further questions please feel free to drop us an email to developer.questions@dezrez.com.

Thanks
Adam

[2019-05-21 12:19] #64 closed, assigned to nobody

[2019-05-22 14:04] thomassb commented on #56
@dendle These end point names are terrible, the one you mentioned by op is still called propertyidsfiltered.
good thing I have a lot of spagetti to throw.

Is there any proper documentation for this API other then the very missleading swagger doc?

[2019-05-28 10:05] ajonesgh commented on #56
Hi thomassb

Here is the API help page https://api.dezrez.com/help

If you have any further questions please feel free to drop us an email at developer.questions@dezrez.com.

Thanks
Adam

[2019-06-10 10:54] tom-sinclair opened #66 "List of Webhooks unavailable"
When I try and hit the `https://core-api-uat.dezrez.com/api/workflow/triggers` I get a 404, where can I find the list of webhooks?

[2019-06-10 11:41] tom-sinclair opened #67 "Cannot get Chain Data"
It has been explained to me that in order for me to see the chain data I need to hit [this endpoint](https://core-api-uat.dezrez.com/swagger/ui/index#!/ProgressionChain/ProgressionChain_Get) and the ID I need is the purchasing role ID, and to get that I have to:
* search for a property
* find the attached marketing role to the property
* find the progression role attached to the marketing role
* f

[2019-06-10 15:25] ajonesgh commented on #67
Hi Tom

In order to add a chain the marketing role has to have a role status of offer accepted.

Example below
GET https://core-api-uat.dezrez.com/api/property/1005801
GET https://core-api-uat.dezrez.com/api/role/11275403 <- Marketing Role e.g Selling or Letting
GET https://core-api-uat.dezrez.com/api/role/11510701 <- Purchasing Role

**Creating a new chain**

Step 1. Create a chain
https://core-a

[2019-06-11 08:15] #67 closed, assigned to nobody

[2019-06-11 11:49] ajonesgh commented on #66
Hi Tom

We are investigating why this endpoint is not working.

Thanks
Adam

[2019-06-17 08:12] tom-sinclair commented on #67
Hi Adam,

I can get the purchasing role id from your above example, however when I use it to get the chain, the first endpoint, `/api/progressionchain/{id}/getchain` returns this error message to me: `Authorization has been denied for this request.` and the other endpoint `/api/progressionchain/{id}` returns an empty array, so I assume for the second endpoint it means there is no chain information

[2019-06-17 13:01] BYM-Henry opened #68 "Start Marketing - API"
Hi,

We have been told by an agent that they have a button called 'Start Marketing' in Rezi,which is pressed to indicate a property has gone on market. Whilst I can see an Instructed Date against a property on the API, is there a value which corresponds to that button being pressed for a property.

Please let me know if any of this is unclear.

Many Thanks,

Henry F
BriefYourMarket

[2019-06-17 13:23] ajonesgh commented on #68
Hi Henry

When that button is pressed an event is created against the properties marketing role. You can retrieve these events by using the below endpoint. There are various filters you can use to drill down to the type of events you need

https://api.dezrez.com/Help/Api/GET-api-role-id-events_pageSize_pageNumber_branchId_from_to_type[0]_type[1]_eventCategoryType_excludedTypes[0]_excludedTypes[1]_

[2019-06-17 13:23] #68 closed, assigned to nobody

[2019-06-21 08:52] BYM-Henry commented on #68
Thanks Adam,

Just one more quick thing, are any events types custom per agent, or is that just a set list of event types.

Thanks,

Henry

[2019-06-25 08:33] dendle commented on #68
It is possible to add custom event types to an agency. A request would need to made to the account management team.

Thanks
Adam

Adam Jones
Senior Developer
[http://www.dezrez.com/drapp/estateagents/emailsig2/logoweb.jpg]<http://www1.dezrez.com/>

[Description: Subscribe to us on Facebook]<https://www.facebook.com/dezrezsoftware/>
[Description: Subscribe to us on Twitter]<https://twitter.com/dezr

[2019-06-25 08:58] ajonesgh commented on #68
It is possible to add custom event types to an agency. A request would need to be made to the account management team.

Thanks
Adam

[2019-07-15 07:40] BYM-Henry opened #69 "Marketing Consent Fields"
Hi All,

We currently receive these Marketing values for each Contact Items:

ACTIVE
BOUNCING
UNSUBSCRIBED MARKETING
UNSUBSCRIBED ALL

However from speaking to an agent they seem to have these values on the front end:

Marketing Allowed
Bouncing
Transactional Only
Do Not Contact

Would you be able to confirm if these match up like so:

Marketing Allowed | ACTIVE
Bouncing                | BOUNCING

[2019-07-16 08:11] griff-10 commented on #69
Hi Henry,

I can confirm that the marketing values for each contact item are correctly matched up in your previous comment:

Marketing Allowed - Active
Transactional Only - UnsubscribedMarketing
Do Not Contact - UnsubscribedAll
Bouncing  - Bouncing

If you have any further questions please do not hesitate to get in touch.

Thanks
Ant

[2019-07-16 08:11] #69 closed, assigned to nobody

[2019-10-07 08:13] sofk91 opened #70 "Fetch Applicant Viewings by batch"
Hi team,

Is there a way to retrieve viewings by batch, rather than requiring the ID?
(GET /api/Viewing/{id})

[2019-10-07 11:02] ajonesgh commented on #70
Hi Sofiane

I think the event list endpoint would be best - you can filter the returned types to just viewings.

Here is the API:
http://api.dezrez.com/Help/Api/POST-api-list-events_pageSize_pageNumber

Hope this helps,
Cheers,
Adam

[2019-10-07 11:02] #70 closed, assigned to nobody

[2019-10-15 10:48] sofk91 opened #71 "Filter/sort properties by updated date"
Hi guys,

Could you allow us to sort **/api/list/property** by updated date?

Kind Regards,

Sof

[2019-10-15 12:25] ajonesgh commented on #71
Hi Sof

I have forwarded this request to our product team.

Thanks
Adam

[2019-10-15 12:25] #71 closed, assigned to nobody

[2019-11-29 16:41] BYM-Henry opened #72 "Offer Accepted Date"
Hi DezRez Developers,

I'm currently looking at data from the API but am unable to work out if it's possible to get the date an offer was accepted from the API.

Would you be able to let me know if this is possible/guide me in the right direction?

Many Thanks,

Henry Fitch
BriefYourMarket Developer

[2020-07-28 10:14] Yauheni-Butski commented on #66
@Ad4mJ , is it possible to obtain available webhooks trigger names with data contracts from UAT API? Or maybe you have somewhere a special page of documentation where they all listed?

1. `GET https://core-api-uat.dezrez.com/api/workflow/triggers` still returns 404 Not found.
2. Based on [documentation page](https://core-api-uat.dezrez.com/Help/Api/GET-api-webhook-triggers) we can obtain webhooks